*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
   }
body {
    background-color:rgb(238, 238, 238);
    color: rgb(32, 32, 32);
}
h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    line-height: 85%;
    letter-spacing: 50%;
    margin: 15px;
}
h2{
    font-family: 'Archivo Black', sans-serif;
    margin: 15px;
    font-size: 50px;
}
h3,h4{
    font-family: 'Archivo', sans-serif;
    margin: 15px;
    font-size: 18px;
}
p{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    margin: 15px;
}
nav{
    border-color: rgb(43, 43, 43);;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border-bottom: solid;
}
.nav1{
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
.nav1 li{
    display: inline-block;
    padding: 10px;
    line-height: 0;
    vertical-align: center;
}
.nav1 li a{
    color: rgb(42, 3, 218);
    font-weight: 700;
    text-decoration: none;
}
.nav1 li a:hover{
    color: rgb(25, 0, 167);
    font-weight: 700;
    text-decoration: underline;
}
footer {
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border-top: solid;
}